/* RESETEADOS CON NORMALIZE */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],
template{display:none}a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],
html input[disabled]{cursor:default}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
/* COLORES */
.marron-r{background-color:#795548}
.marron-rh{background-color:#92756a}
.marron9-r{background-color:#3e2723}
.marron8-r{background-color:#4e342e}
.marron7-r{background-color:#5d4037}
.marron6-r{background-color:#6d4c41}
.marron5-r{background-color:#795548}
.marron4-r{background-color:#8d6e63}
.marron3-r{background-color:#a1887f}
.marron2-r{background-color:#bcaaa4}
.marron1-r{background-color:#d7ccc8}
.marron05-r{background-color:#efebe9}
.negro-r{background-color:#202020}
.gris-r{background-color:#9e9e9e}
.gris-rh{background-color:#b0b0b0}
.gris9-r{background-color:#212121}
.gris8-r{background-color:#424242}
.gris7-r{background-color:#616161}
.gris6-r{background-color:#757575}
.gris5-r{background-color:#9e9e9e}
.gris4-r{background-color:#bdbdbd}
.gris3-r{background-color:#e0e0e0}
.gris2-r{background-color:#eee}
.gris1-r{background-color:#f5f5f5}
.gris05-r{background-color:#fafafa}
.grisa-r{background-color:#607d8b}
.grisa-rh{background-color:#7e96a1}
.grisa9-r{background-color:#263238}
.grisa8-r{background-color:#37474f}
.grisa7-r{background-color:#455a64}
.grisa6-r{background-color:#546e7a}
.grisa5-r{background-color:#607d8b}
.grisa4-r{background-color:#78909c}
.grisa3-r{background-color:#90a4ae}
.grisa2-r{background-color:#b0bec5}
.grisa1-r{background-color:#cfd8dc}
.grisa05-r{background-color:#eceff1}
.purpura-r{background-color:#9c27b0}
.purpura-rh{background-color:#ae51be}
.purpura9-r{background-color:#4a148c}
.purpura8-r{background-color:#6a1b9a}
.purpura7-r{background-color:#7b1fa2}
.purpura6-r{background-color:#8e24aa}
.purpura5-r{background-color:#9c27b0}
.purpura4-r{background-color:#ab47bc}
.purpura3-r{background-color:#ba68c8}
.purpura2-r{background-color:#ce93d8}
.purpura1-r{background-color:#e1bee7}
.purpura05-r{background-color:#f3e5f5}
.purpuraA7-r{background-color:#a0f}
.purpuraA4-r{background-color:#d500f9}
.purpuraA2-r{background-color:#e040fb}
.purpuraA1-r{background-color:#ea80fc}
.dpurpura-r{background-color:#673ab7}
.dpurpura-rh{background-color:#8460c4}
.dpurpura9-r{background-color:#311b92}
.dpurpura8-r{background-color:#4527a0}
.dpurpura7-r{background-color:#512da8}
.dpurpura6-r{background-color:#5e35b1}
.dpurpura5-r{background-color:#673ab7}
.dpurpura4-r{background-color:#7e57c2}
.dpurpura3-r{background-color:#9575cd}
.dpurpura2-r{background-color:#b39ddb}
.dpurpura1-r{background-color:#d1c4e9}
.dpurpura05-r{background-color:#ede7f6}
.dpurpuraA7-r{background-color:#6200ea}
.dpurpuraA4-r{background-color:#651fff}
.dpurpuraA2-r{background-color:#7c4dff}
.dpurpuraA1-r{background-color:#b388ff}
.indigo-r{background-color:#3f51b5}
.indigo-rh{background-color:#3e50b4}
.indigo9-r{background-color:#1a237e}
.indigo8-r{background-color:#283593}
.indigo7-r{background-color:#303f9f}
.indigo6-r{background-color:#3949ab}
.indigo5-r{background-color:#3f51b5}
.indigo4-r{background-color:#5c6bc0}
.indigo3-r{background-color:#7986cb}
.indigo2-r{background-color:#9fa8da}
.indigo1-r{background-color:#c5cae9}
.indigo05-r{background-color:#e8eaf6}
.indigoA7-r{background-color:#304ffe}
.indigoA4-r{background-color:#3d5afe}
.indigoA2-r{background-color:#536dfe}
.indigoA1-r{background-color:#8c9eff}
.azul-r{background-color:#2196f3}
.azul-rh{background-color:#4caaf4}
.azul9-r{background-color:#0d47a1}
.azul8-r{background-color:#1565c0}
.azul7-r{background-color:#1976d2}
.azul6-r{background-color:#1e88e5}
.azul5-r{background-color:#2196f3}
.azul4-r{background-color:#42a5f5}
.azul3-r{background-color:#64b5f6}
.azul2-r{background-color:#90caf9}
.azul1-r{background-color:#bbdefb}
.azul05-r{background-color:#e3f2fd}
.azulA7-r{background-color:#2962ff}
.azulA4-r{background-color:#2979ff}
.azulA2-r{background-color:#448aff}
.azulA1-r{background-color:#82b1ff}
.lazul-r{background-color:#03a9f4}
.lazul-rh{background-color:#33b8f5}
.lazul9-r{background-color:#01579b}
.lazul8-r{background-color:#0277bd}
.lazul7-r{background-color:#0288d1}
.lazul6-r{background-color:#039be5}
.lazul5-r{background-color:#03a9f4}
.lazul4-r{background-color:#29b6f6}
.lazul3-r{background-color:#4fc3f7}
.lazul2-r{background-color:#81d4fa}
.lazul1-r{background-color:#b3e5fc}
.lazul05-r{background-color:#e1f5fe}
.lazulA7-r{background-color:#0091ea}
.lazulA4-r{background-color:#00b0ff}
.lazulA2-r{background-color:#40c4ff}
.lazulA1-r{background-color:#80d8ff}
.cyan-r{background-color:#00bcd4}
.cyan-rh{background-color:#32c8db}
.cyan9-r{background-color:#006064}
.cyan8-r{background-color:#00838f}
.cyan7-r{background-color:#0097a7}
.cyan6-r{background-color:#00acc1}
.cyan5-r{background-color:#00bcd4}
.cyan4-r{background-color:#26c6da}
.cyan3-r{background-color:#4dd0e1}
.cyan2-r{background-color:#80deea}
.cyan1-r{background-color:#b2ebf2}
.cyan05-r{background-color:#e0f7fa}
.cyanA7-r{background-color:#00b8d4}
.cyanA4-r{background-color:#00e5ff}
.cyanA2-r{background-color:#18ffff}
.cyanA1-r{background-color:#84ffff}
.vazul-r{background-color:#009688}
.vazul-rh{background-color:#32aa9e}
.vazul9-r{background-color:#004d40}
.vazul8-r{background-color:#00695c}
.vazul7-r{background-color:#00796b}
.vazul6-r{background-color:#00897b}
.vazul5-r{background-color:#009688}
.vazul4-r{background-color:#26a69a}
.vazul3-r{background-color:#4db6ac}
.vazul2-r{background-color:#80cbc4}
.vazul1-r{background-color:#b2dfdb}
.vazul05-r{background-color:#e0f2f1}
.vazulA7-r{background-color:#00bfa5}
.vazulA4-r{background-color:#1de9b6}
.vazulA2-r{background-color:#64ffda}
.vazulA1-r{background-color:#a7ffeb}
.verde-r{background-color:#4caf50}
.verde-rh{background-color:#6ebe72}
.verde9-r{background-color:#1b5e20}
.verde8-r{background-color:#2e7d32}
.verde7-r{background-color:#388e3c}
.verde6-r{background-color:#43a047}
.verde5-r{background-color:#4caf50}
.verde4-r{background-color:#66bb6a}
.verde3-r{background-color:#81c784}
.verde2-r{background-color:#a5d6a7}
.verde1-r{background-color:#c8e6c9}
.verde05-r{background-color:#e8f5e9}
.verdeA7-r{background-color:#00c853}
.verdeA4-r{background-color:#00e676}
.verdeA2-r{background-color:#69f0ae}
.verdeA1-r{background-color:#b9f6ca}
.lverde-r{background-color:#8bc34a}
.lverde-rh{background-color:#a1ce6d}
.lverde9-r{background-color:#33691e}
.lverde8-r{background-color:#558b2f}
.lverde7-r{background-color:#689f38}
.lverde6-r{background-color:#7cb342}
.lverde5-r{background-color:#8bc34a}
.lverde4-r{background-color:#9ccc65}
.lverde3-r{background-color:#aed581}
.lverde2-r{background-color:#c5e1a5}
.lverde1-r{background-color:#dcedc8}
.lverde05-r{background-color:#f1f8e9}
.lverdeA7-r{background-color:#64dd17}
.lverdeA4-r{background-color:#76ff03}
.lverdeA2-r{background-color:#b2ff59}
.lverdeA1-r{background-color:#ccff90}
.lima-r{background-color:#cddc39}
.lima-rh{background-color:#d5e25e}
.lima9-r{background-color:#827717}
.lima8-r{background-color:#9e9d24}
.lima7-r{background-color:#afb42b}
.lima6-r{background-color:#c0ca33}
.lima5-r{background-color:#cddc39}
.lima4-r{background-color:#d4e157}
.lima3-r{background-color:#dce775}
.lima2-r{background-color:#e6ee9c}
.lima1-r{background-color:#f0f4c3}
.lima05-r{background-color:#f9fbe7}
.limaA7-r{background-color:#aeea00}
.limaA4-r{background-color:#c6ff00}
.limaA2-r{background-color:#eeff41}
.limaA1-r{background-color:#f4ff81}
.amarillo-r{background-color:#ffeb3b}
.amarillo-rh{background-color:#feed5d}
.amarillo9-r{background-color:#f57f17}
.amarillo8-r{background-color:#f9a825}
.amarillo7-r{background-color:#fbc02d}
.amarillo6-r{background-color:#fdd835}
.amarillo5-r{background-color:#ffeb3b}
.amarillo4-r{background-color:#ffee58}
.amarillo3-r{background-color:#fff176}
.amarillo2-r{background-color:#fff59d}
.amarillo1-r{background-color:#fff9c4}
.amarillo05-r{background-color:#fffde7}
.amarilloA7-r{background-color:#ffd600}
.amarilloA4-r{background-color:#ffea00}
.amarilloA2-r{background-color:#ff0}
.amarilloA1-r{background-color:#ffff8d}
.ambar-r{background-color:#ffc107}
.ambar-rh{background-color:#fecc37}
.ambar9-r{background-color:#ff6f00}
.ambar8-r{background-color:#ff8f00}
.ambar7-r{background-color:#ffa000}
.ambar6-r{background-color:#ffb300}
.ambar5-r{background-color:#ffc107}
.ambar4-r{background-color:#ffca28}
.ambar3-r{background-color:#ffd54f}
.ambar2-r{background-color:#ffe082}
.ambar1-r{background-color:#ffecb3}
.ambar05-r{background-color:#fff8e1}
.ambarA7-r{background-color:#ffab00}
.ambarA4-r{background-color:#ffc400}
.ambarA2-r{background-color:#ffd740}
.ambarA1-r{background-color:#ffe57f}
.naranja-r{background-color:#ff9800}
.naranja-rh{background-color:#feaa30}
.naranja9-r{background-color:#e65100}
.naranja8-r{background-color:#ef6c00}
.naranja7-r{background-color:#f57c00}
.naranja6-r{background-color:#fb8c00}
.naranja5-r{background-color:#ff9800}
.naranja4-r{background-color:#ffa726}
.naranja3-r{background-color:#ffb74d}
.naranja2-r{background-color:#ffcc80}
.naranja1-r{background-color:#ffe0b2}
.naranja05-r{background-color:#fff3e0}
.naranjaA7-r{background-color:#ff6d00}
.naranjaA4-r{background-color:#ff9100}
.naranjaA2-r{background-color:#ffab40}
.naranjaA1-r{background-color:#ffd180}
.dnaranja-r{background-color:#ff5722}
.dnaranja-rh{background-color:#fe774c}
.dnaranja9-r{background-color:#bf360c}
.dnaranja8-r{background-color:#d84315}
.dnaranja7-r{background-color:#e64a19}
.dnaranja6-r{background-color:#f4511e}
.dnaranja5-r{background-color:#ff5722}
.dnaranja4-r{background-color:#ff7043}
.dnaranja3-r{background-color:#ff8a65}
.dnaranja2-r{background-color:#ffab91}
.dnaranja1-r{background-color:#ffccbc}
.dnaranja05-r{background-color:#fbe9e7}
.dnaranjaA7-r{background-color:#dd2c00}
.dnaranjaA4-r{background-color:#ff3d00}
.dnaranjaA2-r{background-color:#ff6e40}
.dnaranjaA1-r{background-color:#ff9e80}
.rojo-r{background-color:#f44336}
.rojo-rh{background-color:#f5665b}
.rojo9-r{background-color:#b71c1c}
.rojo8-r{background-color:#c62828}
.rojo7-r{background-color:#d32f2f}
.rojo6-r{background-color:#e53935}
.rojo5-r{background-color:#f44336}
.rojo4-r{background-color:#ef5350}
.rojo3-r{background-color:#e57373}
.rojo2-r{background-color:#ef9a9a}
.rojo1-r{background-color:#ffcdd2}
.rojo05-r{background-color:#ffebee}
.rojoA7-r{background-color:#d50000}
.rojoA4-r{background-color:#ff1744}
.rojoA2-r{background-color:#ff5252}
.rojoA1-r{background-color:#ff8a80}
.rosa-r{background-color:#e91e63}
.rosa-rh{background-color:#ec4a81}
.rosa9-r{background-color:#880e4f}
.rosa8-r{background-color:#ad1457}
.rosa7-r{background-color:#c2185b}
.rosa6-r{background-color:#d81b60}
.rosa5-r{background-color:#e91e63}
.rosa4-r{background-color:#ec407a}
.rosa3-r{background-color:#f06292}
.rosa2-r{background-color:#f48fb1}
.rosa1-r{background-color:#f8bbd0}
.rosa05-r{background-color:#fce4ec}
.rosaA7-r{background-color:#c51162}
.rosaA4-r{background-color:#f50057}
.rosaA2-r{background-color:#ff4081}
.rosaA1-r{background-color:#ff80ab}
.blanco-c{background-color:#f5f5f1}
.negro-o{background-color:#080808}
.negro-r-c{background-color:#363f45}
.gris-mo{background-color:#333}
.gris-o{background-color:#303030}
.gris{background-color:#c7c7c7}
.gris-c{background-color:#ddd}
.gris-mc{background-color:#f6f4f0}
.azul{background-color:#378baa}
/* GRID */
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12,.c13{float:left;margin-left:1.2%;margin-top:15px}
.s0{margin-left:0%}
.c1{width:6.4%}
.c2{width:14%}
.c3{width:21.6%}
.c4{width:29.2%}
.c5{width:36.8%}
.c6{width:44.4%}
.c7{width:52%}
.c8{width:59.6%}
.c9{width:67.2%}
.c10{width:74.8%}
.c11{width:82.4%}
.c12{width:90%}
.c13{width:97.6%}
.ct{width:100%}
/* POSICIONAMIENTO Y VISIBILIDAD */
.centrado{text-align:center}
.floatl{float:left}
.floatr{float:right}
.enlinea{display:inline}
.enbloque{display:block}
.enlineabloque{display:inline-block}
.nomuestra{display:none}